body {
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #262626;
}

header#app-header {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background: #FFF;
    box-shadow: 0 1px 2px rgba(51,51,51,0.4);
    overflow: hidden;
    cursor: default;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header#app-header .bmate {
    font-weight: bold;
    color: #32cf9f;
    font-size: 1.2em;
}

header#app-header .slogan {
    font-size: 0.9em;
    color: rgba(38,38,38,0.5);
}

section.token-container {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}

section.token-container .find-robot {
    background: #FFF;
    border-radius: 3px;
    width: 50%;
    margin: auto;
    padding: 30px;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    margin-top: 10%;
}

section.token-container .find-robot input[type="text"] {
    outline: none;
    padding: 10px;
    border: 0;
    border-bottom: rgba(50,207,159,0.5) 2px solid;
    transition: all 0.2s ease;
    width: 100%;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
}

section.token-container .find-robot input[type="text"]:focus {
    border-bottom-color: #32cf9f;
    color: rgba(0, 0, 0, 1);
}

section.token-container .find-robot button {
    margin-top: 30px;
    background: #32cf9f;
    border: none;
    padding: 15px;
    color: #FFF;
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
    outline: none;
    font-size: 0.9em;
    text-transform: uppercase;
}

section.token-container .find-robot button:active {
    opacity: 0.8;
}

section.token-container .find-robot .message {
    color: red;
    font-size: 0.9em;
}

section.app-container {
    overflow: hidden;
    width: 100%;
    padding-top: 20px;

    position: fixed;
    height: 100%;
}

section.app-container video#stage {
    /*width: 95%;*/
    display: block;
    margin: auto;
    background: #f4f4f4;
    border-radius: 5px;
    height: 85%;
}

section.app-container video#mirror {
    position: absolute;
    width: 100px;
    border-radius: 3px;
    top: 30px;
    right: 5%;
    background: rgba(50,207,159,0.5);
}

section.app-container .receiver-container {
    width: 95%;
    display: block;
    margin: auto;
}

section.app-container .receiver-container img {
    border: 4px solid rgba(50,207,159,0.5);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    margin: 10px;
    z-index: 2;
}

section.app-container .receiver-container .person-name {
    border-radius: 30px;
    position: absolute;
    z-index: 2;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    padding: 10px 20px;
    font-size: 0.8em;
    margin-top: 25px;
    margin-left: 90px;
}

section.app-container .receiver-container .person-name .talt-phrase {
    display: none;
    transition: width 0.2s ease;
}

section.app-container .direction-toolbar {
    width: 95%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.app-container .direction-toolbar .joystick {
    background: rgba(51,51,51,0.5);
    position: relative;
    margin-top: -100px;
    padding: 10px;
    border-radius: 60px;
    box-shadow: 1px 1px 2px rgba(51,51,51,0.6);
    margin-left: 10px;
    margin-right: 10px;
}

section.app-container .direction-toolbar .joystick i {
    cursor: pointer;
    padding: 0 10px;
    color: #FFF;
}

section.app-container .direction-toolbar .joystick i:hover,
section.app-container .direction-toolbar .joystick i.active {
    color: rgba(50,207,159,1);
}

section.app-container .direction-toolbar .joystick i.desc-icons {
    cursor: default !important;
}

section.app-container .direction-toolbar .joystick i.desc-icons:hover {
    color: #FFF !important;
}

.mask {
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

/*Material Design Icons Font Face declaration*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
